<%= form_with url: "query", method: :post do |f| %>
    <%= f.label "Write your SQL quiery" %>
    <%= f.text_area :select , class: 'form-control', style: "width: 500px;height:100px"%>
    <%= f.submit 'Submit', class: 'btn btn-dark' %>
<% end %>

<div id = "clients">
  <%= render "clients_db" %>
</div>